@font-face {
  font-family: 'Oswald', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
}


.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  #mainNav {
    background-color: #556052;
  }

.my-picture {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      margin-bottom: 30px;
      width: 250px;
      border-radius: 50%;
}

.my-name {
  background-image: url(./images/IMG_20190723_153135.jpg);
  background-color: #cccccc;
  text-align: center;
  padding-top: 45px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100px !important;
  color: #30475e #222831 #f05454 #e8e8e8;
  text-decoration: underline;
  font-size: 90px;
  text-overflow: clip;
}

.about-me {
  width: 460px;
  padding: 5px;
  border: 7px solid;
  margin: 0;
  margin-left: 450px;
  margin-top: 20px;
  background-color: #7e7474;
  font-size: 18px;
}

.about-me-2 {
  text-align: center;
  text-decoration: underline;
}

.about-me-3 {
  text-align: center;
}

#projects {
  text-align: center;
  margin-top: 25px;
  text-decoration: underline;
}

.project {
align-items: center;
margin-left: 25px;
font-size: 20px;
display: grid;
justify-items: center;
}

.image-sizing-1 {
  margin-left: 400px;
}

.project-description {
  text-align: center;
  font-size: 20px;
  margin-top: 100x;
  margin-right: 5px;
}

.image-sizing-2 {
  margin-left: 60px;
}
  
details {
  cursor: pointer;
}



