@import "compass/css3";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* For Desktop */
.nav-list {
  display: grid;
  width: 600;
  grid-template-columns: 200px 200px 200px;
  justify-content: end;
}

.nav-list a {
  font-size: 1.6em;
  font-style: normal;
  text-transform: uppercase;
  list-style: none;
}

.nav-list a:hover {
  color: #6930c3;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border-bottom: 4px solid rgba(2, 190, 179, 0.54);
  padding-bottom: 2px;
  position: relative;
  z-index: 1;
  top: 15px;
}

.resume-1 a {
  display: inline-block;
  font-size: 1.3em;
  padding: 1px 20px;
  margin-top: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 650;
  line-height: 50px;
  transition: 0.2s;
  background: #d3e0ea;
  color: #111;
  letter-spacing: 2px;
}

.resume-1 a:hover {
  letter-spacing: 3px;
}

.my-image {
  border: 0px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.25));
  border-radius: 60px;
}

.my-image img {
  border-radius: 100%;
  width: 250px;
  height: 240px;
  position: absolute;
  left: 785px;
  bottom: 55px;
}

/* Skew Background */

.skew-bg {
  background: #bc6ff1;
  padding: 332px 0px;
  transform: skew(0deg, -10deg);
  margin-top: -200px;
}

/* Content */

.content {
  transform: skew(0deg, 10deg);
  text-align: left;
  position: absolute;
  left: 90px;
  bottom: 150px;
}

h2 {
  font-weight: bolder;
  font-size: 50px;
  font-style: normal;
  line-height: 70px;
  letter-spacing: 0.07em;
}

/* Skew Background */

.skew-bg-2 {
  padding: 10px 0;
  transform: skew(0deg, -10deg);
  margin-top: -10px;
  background: #dbf6e9;
}

/* For Desktop */

.bg-skewed {
  background: linear-gradient(
    181.32deg,
    rgba(2, 102, 96, 0.54) -9.06%,
    rgba(190, 220, 250, 0) 101.66%
  );
  padding: 500px 0;
  transform: skewY(-(@skewBy));
  margin-top: -600px;
}

.about {
  position: absolute;
  left: 45%;
  font-weight: 800;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  line-height: 100px;
  /* or 143% */

  letter-spacing: 0.07em;
  text-decoration-line: underline;
  top: 40rem;
}

.about-description {
  display: flex;
  justify-content: center;
}

.first-desc img {
  position: relative;
  top: 22em;
  right: 1em;
  width: 71px;
  height: 66px;
}

.first-desc p {
  position: relative;
  top: 7.5em;
  left: 2.5em;
  font-weight: 800;
  font-size: 2.3rem;
  overflow-wrap: break-word;
}

/* Trusted By Section */

.trusted {
  background: linear-gradient(
    180deg,
    rgba(255, 154, 140, 0) 0%,
    rgba(250, 213, 173, 0.54) 96.24%
  );
  padding: 50px 0;
  margin-top: -100px;
}

.trusted-by > h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 140.62%;
  /* or 70px */
  text-align: center;
  color: #000000;
  margin-top: 2em;
}

.trusted-by > img {
  display: inline-flex;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  position: relative;
  left: 18%;
  margin-top: 5em;
  margin-left: 4em;
}

/* Skill Section */

.skill-section {
  background: linear-gradient(
    180deg,
    #e7d9ea 0%,
    rgba(231, 217, 234, 0) 90.21%,
    #e7d9ea 100%
  );
  width: 100%;
  height: 1050px;
  overflow: hidden;
}

.skills > h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  /* or 143% */
  letter-spacing: 0.07em;
  text-decoration-line: underline;
  transform: rotate(-0.01deg);
  position: relative;
  left: 45%;
  top: 1em;
}

.using-now > .using {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 8em;
  /* identical to box height, or 100% */
  letter-spacing: 0.09em;
  color: #000000;
  position: absolute;
  left: 2em;
}

.using-now > .skills-logo {
  display: inline-flex;
  margin-top: 5px;
  margin-left: 50px;
  position: relative;
  top: 17rem;
  left: 10%;
}

.learning-section > .learning {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 20em;
  /* identical to box height, or 100% */
  letter-spacing: 0.09em;
  color: #000000;
  position: absolute;
  left: 2em;
}

.learning-section > .learning-now {
  display: inline-flex;
  margin-top: 15px;
  margin-left: 150px;
  position: relative;
  top: 28rem;
  left: 10%;
}

/* Porjects Section */

.projects-section {
  background: linear-gradient(
    180deg,
    #c6ebc9 36.51%,
    rgba(217, 242, 219, 0.67047) 58.89%
  );
  width: 100%;
  height: 500vh;
  overflow: hidden;
}

.projects > h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 100px;
  /* or 143% */
  text-align: center;
  letter-spacing: 0.07em;
  top: 1em;
  text-decoration: underline;
}

/* Projects Sample */

/* Wanderlust Project */

.wanderlust-sample > img {
  margin-left: 32%;
  margin-top: 2em;
}

.wanderlust-descrip {
  font-family: "Montserrat";
  font-size: 20px;
  word-wrap: break-word;
  line-height: 30px;
  margin-left: 8%;
  margin-top: 30px;
  line-height: 1cm;
}

/* Colmar Project */
.colmar-sample > img {
  margin-left: 27%;
  margin-top: 4em;
}

.colmar-descrip {
  font-family: "Montserrat";
  font-size: 20px;
  word-wrap: break-word;
  line-height: 30px;
  margin-left: 8%;
  margin-top: 30px;
  line-height: 1cm;
}

/* Jamming Project */

.jamming-sample > img {
  margin-left: 32%;
  margin-top: 4em;
}

.jamming-descrip {
  font-family: "Montserrat";
  font-size: 20px;
  word-wrap: break-word;
  line-height: 1cm;
  margin-left: 8%;
  margin-top: 30px;
}

/* Contact Section */

.contact-section {
  background: linear-gradient(90deg, #be8cef 0%, rgba(61, 46, 232, 0.83) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  width: 100%;
  height: 130vh;
}

.get-in-touch > h2 {
  text-transform: uppercase;
  margin-bottom: 5px;
  text-decoration: underline;
}

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 908px;
  max-width: 100%;
  min-height: 480px;
  min-width: 370px;
}

contact-section > h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.form-container {
  display: flex;
}

.left-container {
  flex: 1;
  height: 480px;
  background-color: teal;
}
.right-container {
  display: flex;
  flex: 1;
  height: 560px;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.left-container {
  display: flex;
  flex: 1;
  height: 560px;
  justify-content: center;
  align-items: center;
  color: white;
}

.left-container p {
  font-size: 0.9rem;
}

.right-inner-container {
  width: 70%;
  height: 80%;
  text-align: center;
}

.left-inner-container {
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 22px;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}

input:focus,
textarea:focus {
  outline: 1px solid teal;
}

.submit {
  border-radius: 20px;
  border: 1px solid #00b4cf;
  background-color: #00b4cf;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.submit:hover {
  opacity: 0.7;
}

form p {
  text-align: left;
}

/* Footer Section */

.footer-section {
  width: 100%;
  height: 30vh;
  background-color: black;
}

.contact-image {
  text-decoration: none;
  display: inline-flex;
  margin-right: 6.5em;
  margin-top: 2em;
  left: 34%;
  flex-grow: 3;
  position: relative;
  border-bottom: none;
}

.copyright {
  color: white;
  margin-left: 33.6em;
  margin-top: 2.2em;
  font-weight: 590;
  font-family: "Roboto", sans-serif;
}
